# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
libtool.m4

# autoconf files
Makefile
*.deps
*.dirstamp
*.o
config*
config/*
stamp-h1
*.gz
*.log
*.trs
aminclude.am
*.lo
*.la
*.libs
.vscode

# misc
tags
wolfkeymgr.pid
response.pem
dump.der
diff

# applications
src/wolfkeymgr
examples/middlebox/decrypt
examples/etsi_test/etsi_test
examples/https/client
examples/https/server
libtool
wolfkeymgr/options.h
tests/unit.test

# Generated Cert Files
certs/ca-*.pem
certs/ca-*.der
certs/ca-*.crl
certs/*.par
certs/crlnumber*
certs/serial
certs/index*
certs/tpm-*.csr
certs/server-*.der
certs/server-*.pem
certs/client-*.der
certs/client-*.pem
certs/serial.old
certs/1*.pem
tracefile.txt

# test files
vault.bin
wolfkeymgr.vault
